.fact {
    font-style: italic;
}

.list {
    font-weight: bold;
    list-style-type: none;
    padding-left: 0px;
}

.top {
    border-style: solid;
    border-width: thin;
    box-shadow: 7px 7px 7px #c9c2c2;
    width: 310px;
    padding-left: 10px;
}

.mid {
    border: thin solid;
    width: 280px;
    padding: 0px 10px 0px 10px;
    margin-bottom: 10px;
}